<% if signed_in? %>

<p>Hello <%= current_user.email %></p>
<% else %>
<% end %>
<div class="main_map">
	<div id="map_container" class="imgborder"></div>
</div>
<%= render 'shared/search_form' %>
<div id="search_result_home"></div>