<h1>Get a Ride</h1>

<% if signed_in? %>
<p>User Customized data</p>
<p>Hello <%= current_user.email %></p>
<% else %>
<% end %>
<%= render 'shared/route_record_form' %>
<%= javascript_include_tag "homepage.js" %>