<tr>
	<td class="route_records">
	<span class="from"><%= route_record.from %></span>
	<span class="to"><%= route_record.to %></span>
	<span class="created"><%= route_record.created_at %></span>
	</td>	
</tr>