body {
	padding-bottom: 60px;
}

.container {
	max-width: 960px;
}

ul {
	list-style: none;
}

.nav-bar {
	height: 80px;
}

.nav-bar img {
	float: left;
}

.nav-bar ul {
	float: right;
}

.nav-bar ul li {
	list-style: none;
}

.round {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

a {
	color: #09c;
	text-decoration: none;
}

a:hover {
	color: #069;
	text-decoration: underline;
}

.center {
	margin: 0 auto;
}

#map_container {
	height: 250px;
	width: 100%;
}

.search_bar {
	padding: 10px 0;
}
.search_bar div {
	display: inline-block;
}
.search_bar button {
	margin-bottom: 10px;
}

.scroll_table {
	height: 500px;
	overflow: auto;
}
