body {
	padding-top: 0;
	padding-bottom: 60px;
}

body, label, input, textarea, select, button {
	font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,'Hiragino Sans GB',sans-serif,"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
}
.container {
	margin: 0;
	padding: 0 10px;
	max-width: 960px;
}

ul {
	list-style: none;
}

.nav-bar {
	padding-top: 0;
	height: 80px;
	background-color: rgb(255, 252, 245);
}

.nav-bar img {
	float: left;
}

.nav-bar ul {

}

.haccount > li {
	float: right;
	list-style: none;
}

.content {
	background-color: rgb(255, 252, 245);
}
.round {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

a {
	color: #09c;
	text-decoration: none;
}

a:hover {
	color: #069;
	text-decoration: underline;
}

.center {
	margin: 0 auto;
}

#map_container {
	height: 250px;
	width: 100%;
}

.search_bar {
	padding: 10px 0;
}
.search_bar div {
	display: inline-block;
}
.search_bar button {
	margin-bottom: 10px;
}

.scroll_table {
	height: 500px;
	overflow: auto;
}

.sns {
	padding-top: 5px;
}